.tax-section9 {
	display: flex;
	align-items: center;
	justify-content: center;
    margin-top: 40px;
    background-color: var(--primary);
    height: auto;
    gap: 40px;
}

.faq-section-left {
	max-width: 600px;
}

.faq-section-left h1 {
	text-align: center;
	font-size: 40px;
    color: var(--secondary);
	
}

.faq-list {
	border-radius: 8px;
	overflow: hidden;
	padding: 10px;
	color: var(--secondary);
}

.faq-item {
	box-shadow: inset 2px 2px 4px var(--secondary);
	margin-top: 10px;
	border-radius: 10px;
	padding: 15px 20px;
	background-color: var(--primary);
	transition: background-color 0.3s;
}

.faq-item:last-child {
	border-bottom: none;
}

.faq-question {
	display: flex;
	justify-content: space-between;
	align-items: center;
	cursor: pointer;
	font-size: 18px;
}

.faq-question:hover {
	color: var(--accent);
}

.faq-answer {
    overflow: hidden;
    max-height: 0;
    opacity: 0;
    transition: max-height 0.5s ease, opacity 0.5s ease;
}

.faq-answer.open {
    max-height: 1000px; /* Arbitrary large height to allow full expansion */
    opacity: 1;
    padding-top: 10px;
    padding-left: 5px;
}
.tax-section9-right {
img{
    width: 650px;
}

}

