.tax-section10 {
	display: flex;
	align-items: center;
	justify-content: center;
}
.tax-section10-wrap {
	display: flex;
	align-items: center;
	justify-content: space-between;
	
}
.tax-section10-left {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #5c7c8982;

	border-radius: 5px;
	flex: 1;
	img {
		width: 600px;
	}
}
.tax-section10-right {
	display: flex;
	flex-direction: column;
	flex: 1;
	padding: 25px;
	h1 {
		font-size: 40px;
        font-weight: 500;
	}
}
