.tax-section10 {
	display: flex;
	align-items: center;
	justify-content: center;
}
.tax-section10-wrap {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-top: 40px;
	gap: 30px;
	/* width: 90%; */
}
.tax-section10-left {
	display: flex;
	flex-direction: column;

	justify-content: center;

	border-radius: 5px;
	flex: 1;
	p {
		/* margin-bottom: -20px; */
		/* padding: 0; */
	}
	h1 {
		font-size: 38px;
		padding: 0;
		margin-bottom: 80px;
	}
}
.tax10-img-left {
	display: flex;
	gap: 30px;
	figure {
		margin: 0;
	}
	img {
		height: 400px;
	}
	p {
		margin: 0;
	}
}
.tax10-img-left figure:nth-child(2) {
	margin-top: -60px;
}
.tax-section10-right {
	display: flex;
	flex-direction: column;
	flex: 1;

	h1 {
		font-size: 40px;
		font-weight: 500;
	}
}
.tax10-img-right {
	display: flex;
	gap: 30px;
	figure {
		margin: 0;
	}
	img {
		height: 400px;
	}
	p {
		margin: 0;
	}
}
.tax10-img-right figure:nth-child(1) {
	margin-top: -120px;
}
.tax10-img-right figure:nth-child(2) {
	margin-top: -180px;
}
