.tax-section6 {
	display: flex;
	align-items: center;
	justify-content: center;
}
.tax-section6wrap {
	min-height: 100px;
	width: 90%;
	display: flex;
	padding: 50px 0px;
	justify-content: space-between;
	margin: 60px 0px;
}
.tax-section6-col {
	display: flex;
	flex-direction: column;
	gap: 10px;
	border-right: 1px solid lightgray;
	padding: 10px 30px;
	p:nth-child(3) {
		max-width: 300px;
		text-wrap: wrap;
		font-size: 15px;
	}
}

.tax-user {
	margin: 0;
	display: flex;
	align-items: center;
	gap: 5px;
	h1 {
		font-size: 30px;
		font-weight: 500;
		min-width: 100px;
	}
	i {
		color: var(--secondary);
		border-radius: 50px;
		background-color: var(--primary);
		width: 50px;
		height: 50px;
		text-align: center;
		line-height: 50px;
		transition: all 0.3s ease;
		&:hover {
			transform: translateY(-10px);
		}
	}
}
